<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--配置包扫描-->
    <context:component-scan base-package="com.zujian"></context:component-scan>

    <!--<bean id="userDAO" class="com.zujian.dao.impl.UserDAOImpl"></bean>
    <bean id="userService" class="com.zujian.service.impl.UserServiceImpl"></bean>-->
    <!--配置视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--字符串到date类型反转-->
    <bean id="conversionServiceFactoryBean"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters" >
            <set>
                <!--导入自己写的类-->
                <bean class="com.zujian.resolver.String2DateResolver"></bean>
            </set>
        </property>
    </bean>

    <!--异常处理组件-->
    <!--导入自己写的类-->
    <bean class="com.zujian.resolver.Myexception"></bean>

    <!--拦截器配置-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.zujian.resolver.MyFilter"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--配置其他两大件-->
    <mvc:annotation-driven conversion-service="conversionServiceFactoryBean" ></mvc:annotation-driven>

    <!--静态资源过滤-->
    <mvc:resources mapping="/js/**" location="/js/"/>
</beans>