<component name="ArtifactManager">
  <artifact type="war" name="mybatis_one2more:war">
    <output-path>$PROJECT_DIR$/mybatis_one2more/target</output-path>
    <root id="archive" name="mybatis_one2more.war">
      <element id="artifact" artifact-name="mybatis_one2more:war exploded" />
    </root>
  </artifact>
</component>