<component name="ArtifactManager">
  <artifact type="war" name="mybatispro:war">
    <output-path>$PROJECT_DIR$/mybatispro/target</output-path>
    <root id="archive" name="mybatispro.war">
      <element id="artifact" artifact-name="mybatispro:war exploded" />
    </root>
  </artifact>
</component>