<component name="ArtifactManager">
  <artifact type="war" name="mybatis_dynamic_select:war">
    <output-path>$PROJECT_DIR$/mybatis_dynamic_select/target</output-path>
    <root id="archive" name="mybatis_dynamic_select.war">
      <element id="artifact" artifact-name="mybatis_dynamic_select:war exploded" />
    </root>
  </artifact>
</component>