<component name="ArtifactManager">
  <artifact type="war" name="mybatis_more2noe:war">
    <output-path>$PROJECT_DIR$/mybatis_more2noe/target</output-path>
    <root id="archive" name="mybatis_more2noe.war">
      <element id="artifact" artifact-name="mybatis_more2noe:war exploded" />
    </root>
  </artifact>
</component>