<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis_day04_pagehelper:war exploded">
    <output-path>$PROJECT_DIR$/mybatis_day04_pagehelper/target/mybatis_day04_pagehelper</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis_day04_pagehelper" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.47" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.1" />
          <element id="library" level="project" name="Maven: com.github.pagehelper:pagehelper:5.1.8" />
          <element id="library" level="project" name="Maven: com.github.jsqlparser:jsqlparser:1.2" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/mybatis_day04_pagehelper/target/mybatis_day04_pagehelper/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="mybatis_day04_pagehelper/web/Web" />
    </root>
  </artifact>
</component>