<component name="ArtifactManager">
  <artifact type="war" name="mybatis_one2one:war">
    <output-path>$PROJECT_DIR$/mybatis_one2one/target</output-path>
    <root id="archive" name="mybatis_one2one.war">
      <element id="artifact" artifact-name="mybatis_one2one:war exploded" />
    </root>
  </artifact>
</component>