<component name="ArtifactManager">
  <artifact type="war" name="spring_di_constructor:war">
    <output-path>$PROJECT_DIR$/spring_di_constructor/target</output-path>
    <root id="archive" name="spring_di_constructor.war">
      <element id="artifact" artifact-name="spring_di_constructor:war exploded" />
    </root>
  </artifact>
</component>